extends layout

block content
    .flex
        .renderer
        .renderer
    .flex
        .renderer
        .renderer
    script(src="/ThreeRect.js")
    script(src="/ThreeSphere.js")
    script(src="/cam4.js")
