extends layout

block content
    .flex
        .renderer
        .renderer
    .flex
        .renderer
        .renderer
    script(src="/component/ThreeRect.js")
    script(src="/component/ThreeSphere.js")
    script(src="/component/StarField.js")
    script(src="/index.js")
