doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/lodash/lodash.min.js")
    script(src="/jquery/dist/jquery.min.js")
    script(src="/three/build/three.js")
    script(src="/three/examples/js/controls/OrbitControls.js")
    script(src="/three/examples/js/libs/stats.min.js")
  body
    block content

